# Neutralinojs binaries and builds
/bin
/dist
/build

# Hypnos generated assets files
/assets

# temporary folders
/.tmp

# Node
/node_modules

# Neutralinojs client (minified)
# neutralino.js

# Neutralinojs related files
.storage
*.log
