html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
    position: absolute;
    margin: 25px 40px;
    z-index: 100;
    user-select: none;
    color: yellow;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    user-select: none;

    display: flex;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-variant: small-caps;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 10px;
    text-align: center;
}

#entityEditor {
    background-color: #1c1d1e;
    min-width: 358px;
    width: 25%;
    max-width: 528px;
    border-right: solid 1px #333;
    border-top: 1px solid #444;

    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 5px;
        color: #555;
    }

    #entityContent {
        overflow-y: auto;
        flex-basis: 44%;
        padding: 10px 8px 0px 0px;
        border-top: solid 1px #333;
        border-bottom: solid 1px #333;

        article {
            margin: 0px 1px 1px 10px;
            font-size: 12px;
            border: solid 1px transparent;
            background-color: #111;
            user-select: auto;
            /* cursor: pointer; */
            border-radius: 5px;
            transition: 0.1s;

            span {
                flex-grow: 1;
            }

            button {
                width: 20px;
                height: 20px;
                background-color: transparent !important;
                padding-top: 0px;
                border: none;
                color: #888;
            }

            button:disabled {
                color: transparent;
            }
        }

        article:hover {
            border: solid 1px #333;
            /* background-color: #222; */
        }

        article.selected {
            background-color: #444;
        }
    }

    overflow-y: hidden;

    #assetsEditor {
        /* border-top: solid 10px black; */
        flex-basis: 55%;
        flex-grow: 1;
        padding: 0px 10px;
        overflow-y: auto;

        h2 {
            border-bottom: 1px solid #444;
            margin: 5px 0;
        }

        nav {
            padding: 5px 0;
            border: none;
        }

        section {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .asset {
                background-color: #111;
                border-radius: 5px;
                color: grey;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 5px;
                align-items: center;

                label {
                    font-size: 11px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-wrap-mode: nowrap;
                    margin: 0px 5px;
                }

                button {
                    margin: 2px 1px;
                    font-size: 11px;
                }
            }
        }
    }

    > nav {
        background-color: #111;
    }

    > nav:first-of-type {
        border-top: solid 1px #333;
    }

    > nav:last-of-type {
        border-bottom: solid 1px #333;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 10px 8px;

        * {
            flex-grow: 1;
        }
    }
}

#mainCanvas {
    border-top: 1px solid #444;
    flex-grow: 1;

    #hypnos {
        height: 100%;
        width: 100%;
    }

    #fps {
        font-size: 11px;
    }
}

#mainInspector {
    background-color: #1c1d1e;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    
    min-width: 400px;
    width: 25%;
    max-width: 728px;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;

    h1 {
        margin-bottom: 5px;
        color: #aaa;
    }

    #inspectorContent {
        h2 {
            border-bottom: solid 1px #444;
        }

        flex-grow: 1;
        font-size: 12px;

        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: column;

        article {
            margin: 0px 25px;

            span {
                padding: 2px 0px;
                display: flex;
                gap: 5px;

                * {
                    width: 50% !important;
                }
            }

            nav {
                margin: 5px 0;
                display: flex;
                gap: 5px;

                * {
                    flex-grow: 1;
                }
            }

            .imagePicker {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px grey;
                padding: 5px;
                box-sizing: border-box;
                border-radius: 5px;
                text-align: center;
                cursor: pointer;

                canvas {
                    height: 100% !important;
                    object-fit: contain;
                }
            }

            .imagePicker:hover {
                border: solid 1px white;
            }
        }

        .scriptEditor {
            width: 100%;
            flex-grow: 1;
            
            * {
                font-family: 'Courier New', Courier, monospace !important;
                font-weight: bold;
            }
        }
    }

    overflow-y: auto;
}

input[type="text"],
input[type="number"] {
    all: unset;
    background-color: transparent;
    border: solid 1px #333;
    background-color: #111;
    padding: 2.5px 3px;
    border-radius: 2px;
    font-size: 12px;
    margin: 0;
}

::-webkit-scrollbar {
    background-color: #111;
    width: 5px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 2px;
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

button {
    background-color: #222;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    border: solid 1px #333;
    transition: 0.1s;
    font-size: 12px;
    margin: 0;
}

button:hover {
    background-color: #333;
    border: solid 1px #444;
}

button:disabled {
    cursor: not-allowed !important;
    color: rgba(255, 255, 255, 0.25);
}

select {
    background-color: #222;
    border-radius: 3px;
    color: white;
    border: solid 1px #333;
    cursor: pointer;
    transition: 0.1s;
    font-size: 12px;
    outline: none;
}

select:hover {
    background-color: #333;
    border: solid 1px #444;
}